html {
    font-family: sans-serif;
}

body {
    background-color: rgba(100, 0, 8, 0.750);
    margin: auto;

}


/* Header Styles */

header {
    background-color: black;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    height: 50px;
}


/* Navigation Styles */

nav {
    display: inline-block;
    border: 1px dashed white;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    padding: 0px 5px;
    text-align: center;
    margin: 0px 5px;
}

nav a {
    text-decoration: none;
    color: inherit;
}


/* Footer Styles */

footer {
    border: 1px solid red;
}

.logo {
    display: inline-block;
    margin: 10px;
}

.images {
    display: inline-block;
    height: auto;
    flex-grow: 1;
    flex-basis: content;
    border: 1px solid black;
}

.images img {
    height: 100px;
    width: 100px;

}

.sectionsArea {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.sections {
    border: 1px solid red;
    margin: auto 0;
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.section {
    display: inline-block;
    height: auto;
    flex-basis: 500px;
    border: 1px solid black;
    flex-grow: 3;
}

.known {
    color: lightblue;
}

.working {
    color: lightgreen;
}